
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Monitoreo de plantas{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block header %}
     <header class="header-nav">
        <div class="logo-box"></div>
        <nav class="nav-links">
            <a href="{% url 'index' %}" class="nav-link">Home</a>
            <a href="#" class="nav-link">About</a>
            <a href="{% url 'page1' %}" class="nav-link">Monitoreo</a>
        </nav>
        <div class="header-right">
            <button class="start-button">Empezar</button>
            <div class="search-icon">🔍</div>
        </div>
    </header>
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block extra_js %}{% endblock %}
</body>
</html>